:root body.light-theme {
  --primary-color: #f4f4f4;
  --secondary-color: #222;
  --tertiary-color: #ce68c1;
  --primary-text-color: var(--tertiary-color);
  --secondary-text-color: var(--secondary-color);
  --tertiary-text-color: var(--primary-color);
}

:root body.dark-theme {
  --primary-color: #f4f4f4;
  --secondary-color: #222;
  --tertiary-color: #ce68c1;
  --primary-text-color: var(--primary-color);
  --secondary-text-color: var(--secondary-color);
  --tertiary-text-color: var(--tertiary-color);
}

body {
  font-family: "Play", sans-serif;
  font-size: 17px;
  color: var(--primary-text-color);
}

h1 {
  display: none;
  margin-top: 0;
  font-size: 2rem;
  word-break: break-word;
}

h1 span {
  margin-left: -12px;
}

@media only screen and (min-width: 768px) {
  h1,
h1 span {
    display: block;
  }

  h1 span {
    display: inline-block;
    margin-left: -20px;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
}
#output {
  line-height: 1.75rem;
  letter-spacing: 3px;
}

@media only screen and (min-width: 1440px) {
  #output {
    margin: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style-type: none;
}

body {
  background-color: var(--primary-color);
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

.background {
  z-index: -10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ccaaff;
}
.background .sun {
  background: #ffffcc;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: calc(50vh - 125px);
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
}
.background .dolphin {
  position: absolute;
  height: 290px;
  width: 290px;
  top: calc(50vh - 145px);
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 4s infinite linear;
}
.background .dolphin img {
  margin: 2.5rem;
  height: 100px;
  width: auto;
  opacity: 0.05;
  transform: rotate(-60deg);
}
@media only screen and (min-width: 768px) {
  .background .sun {
    width: 500px;
    height: 500px;
    top: calc(50vh - 250px);
  }
  .background .dolphin {
    height: 500px;
    width: 500px;
    top: calc(50vh - 250px);
  }
  .background .dolphin img {
    margin: 3rem;
    height: 200px;
  }
}

body.light-theme .background {
  background: linear-gradient(180deg, #ccaaff 17%, #ccccee 39%, #cceedd 62%, #ccffcc 90%);
}

body.light-theme .background .sun {
  background: linear-gradient(0deg, #ffffcc 0%, #ffaaff 100%);
}

body.dark-theme .background {
  background: linear-gradient(180deg, #3b0986 17%, #4529ab 39%, #8550d6 68%, rgba(250, 161, 250, 0.8) 105%);
}

body.dark-theme .background .sun {
  background: linear-gradient(180deg, #ffffcc 0%, #ffaaff 100%);
}

body.dark-theme .invert-on-dark-theme {
  filter: brightness(100);
}

.tablet-only,
.desktop-only {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tablet-only {
    display: block;
  }
}
@media only screen and (min-width: 1440px) {
  .desktop-only {
    display: block;
  }
}
.btn {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 0.25rem 1.25rem;
  }
}
.btn:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn.btn-primary {
  color: var(--secondary-text-color);
  background-color: var(--primary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn.btn-secondary {
  color: var(--secondary-text-color);
}

.dark-theme .btn.btn-secondary {
  color: var(--primary-text-color);
}

.btn.btn-secondary:focus,
.btn.btn-secondary:focus-within,
.btn.btn-secondary:active,
.btn.btn-secondary:hover {
  background-color: var(--primary-color);
}

.dark-theme .btn.btn-secondary:focus,
.dark-theme .btn.btn-secondary:focus-within,
.dark-theme .btn.btn-secondary:active,
.dark-theme .btn.btn-secondary:hover {
  background-color: var(--tertiary-color);
}

.btn.btn-compact {
  padding: 0.25rem 0.5rem;
}

.btn.btn-icon {
  padding: 0;
  border: none;
}

.btn-icon img {
  height: 30px;
  vertical-align: middle;
}

.utility-btns {
  height: auto;
  padding: 0.75rem 1rem;
  background-color: var(--tertiary-color);
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: 1440px) {
  .utility-btns {
    padding: 0 1.25rem;
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    background-color: transparent;
  }
}
.utility-btns .btn.btn-icon {
  margin-right: 1rem;
  margin-top: 4px;
  transition: all 10ms;
}

@media only screen and (min-width: 1440px) {
  .utility-btns .btn.btn-icon {
    margin-left: 1rem;
    margin-right: 0;
  }
}
.utility-btns .btn.btn-icon:active,
.utility-btns .btn.btn-icon:focus-within,
.utility-btns .btn.btn-icon:focus,
.utility-btns .btn.btn-icon:hover {
  transform: scale(0.9);
  background-color: transparent;
}

#submit-btn {
  font-size: 22px;
}

/*@start textarea*/
.dark-theme textarea {
  background-color: rgba(11, 11, 11, 0.4);
}

textarea {
  color: #f4f4f4;
  background-color: rgba(11, 11, 11, 0.1);
  border: none;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Play", sans-serif;
  letter-spacing: 3px;
  height: 32vh;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 1440px) {
  textarea {
    height: 38vh;
  }
}
textarea:focus,
textarea:focus-within,
textarea:active {
  outline: none;
}

/*@end textarea*/
#output {
  display: block;
  word-break: break-all;
}

.output {
  overflow-y: scroll;
  flex-direction: column;
}

@media only screen and (min-width: 1440px) {
  .output {
    height: 38vh;
  }
}
.nav-list > li {
  display: inline-block;
  margin-right: 0.5rem;
}

.nav-list > li:last-child {
  margin-right: 0;
}

.btn.nav-btn {
  color: var(--tertiary-text-color);
  background-color: transparent;
  transition: all 150ms;
  box-sizing: border-box;
  vertical-align: middle;
}

.dark-theme .btn.nav-btn {
  color: var(--primary-text-color);
}

.btn.nav-btn:hover,
.btn.nav-btn:active,
.btn.nav-btn:focus,
.btn.nav-btn:focus-within {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.dark-theme .btn.nav-btn:hover,
.dark-theme .btn.nav-btn:active,
.dark-theme .btn.nav-btn:focus,
.dark-theme .btn.nav-btn:focus-within {
  background-color: var(--tertiary-color);
}

.btn.nav-btn.selected {
  background-color: var(--tertiary-color);
  color: var(--secondary-text-color);
}

.btn.nav-btn.selected:hover,
.btn.nav-btn.selected:active,
.btn.nav-btn.selected:focus,
.btn.nav-btn.selected:focus-within {
  color: var(--tertiary-text-color);
  background-color: var(--tertiary-color);
}

.dark-theme .btn.nav-btn.selected:hover,
.dark-theme .btn.nav-btn.selected:active,
.dark-theme .btn.nav-btn.selected:focus,
.dark-theme .btn.nav-btn.selected:focus-within {
  background-color: var(--primary-color);
}

pre.ascii {
  width: 100%;
  overflow-x: hidden;
  color: #ee98d1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinning-gradient {
  0% {
    background: linear-gradient(0deg, #ffffcc 0%, #ffaaff 100%);
  }
  50% {
    background: linear-gradient(0deg, #ffffcc 100%, #ffaaff 0%);
  }
  100% {
    background: linear-gradient(0deg, #ffffcc 0%, #ffaaff 100%);
  }
}
/*@start column*/
@media only screen and (min-width: 1440px) {
  .column {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    float: left;
  }

  .column::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .column.phi.a {
    width: 38%;
  }

  .column.phi.b {
    width: 62%;
  }

  .column.two {
    width: 50%;
  }

  .column.three {
    width: 33.33%;
  }

  .column.three.a {
    width: 33.33%;
  }

  .column.three.b {
    width: 66.66%;
  }

  .column.four {
    width: 25%;
  }

  .column.four.a {
    width: 25%;
  }

  .column.four.b {
    width: 50%;
  }

  .column.four.c {
    width: 75%;
  }
}
/*@end column*/
.content {
  padding: 5px 20px;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .content {
    padding: 20px;
  }
}
/* @start grid */
.grid {
  max-width: 1050px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* @end grid */
@media only screen and (min-width: 1440px) {
  .reverse-desktop {
    display: flex;
    flex-direction: row-reverse;
  }
}
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

body {
  padding-bottom: 70px;
}

@media only screen and (min-width: 1440px) {
  body {
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=index.css.map */
