:root {
  --primary-color: #222;
  --secondary-color: #f4f4f4;
}

body {
  font-family: "Play", sans-serif;
  font-size: 18px;
  color: #ce68c1;
}

h1 {
  font-size: 2rem;
  word-break: break-word;
}

h1 {
  margin-left: -12px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h1 {
    margin-left: -20px;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
}
#text-output {
  line-height: 2rem;
  letter-spacing: 3px;
}

.upside-down {
  transform: scale(-1, 1);
}

body {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style-type: none;
}

body {
  background-color: var(--primary-color);
}

.terminal-look::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
  pointer-events: none;
}

.background {
  z-index: -10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #ccaaff;
  background: linear-gradient(180deg, #ccaaff 17%, #ccccee 39%, #cceedd 62%, #ccffcc 90%);
}
.background .sun {
  background: #ffffcc;
  background: linear-gradient(0deg, #ffffcc 0%, #ffaaff 100%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  top: calc(50vh - 125px);
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.8;
}
.background .dolphin {
  position: absolute;
  height: 290px;
  width: 290px;
  top: calc(50vh - 145px);
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 4s infinite linear;
}
.background .dolphin img {
  margin: 2.5rem;
  height: 100px;
  width: auto;
  opacity: 0.05;
  transform: rotate(-60deg);
}
@media only screen and (min-width: 768px) {
  .background .sun {
    width: 500px;
    height: 500px;
    top: calc(50vh - 250px);
  }
  .background .dolphin {
    height: 500px;
    width: 500px;
    top: calc(50vh - 250px);
  }
  .background .dolphin img {
    margin: 3rem;
    height: 200px;
  }
}

.tablet-only {
  display: none;
}

@media only screen and (min-width: 768px) {
  .tablet-only {
    display: block;
  }
}
.btn {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.25rem 1.25rem;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn.btn-primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within {
  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn.btn-secondary {
  color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn.btn-secondary:focus,
.btn.btn-secondary:focus-within,
.btn.btn-secondary:active,
.btn.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn.btn-compact {
  padding: 0.25rem 0.25rem;
}

/*@start form*/
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/*@end form*/
/*@start textarea*/
textarea {
  background-color: rgba(11, 11, 11, 0.6);
  border: none;
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  color: #f4f4f4;
  font-size: 1rem;
  font-family: "Play", sans-serif;
  letter-spacing: 3px;
  height: 20vh;
}

@media only screen and (min-width: 768px) {
  textarea {
    margin-bottom: 1rem;
  }
}
textarea:focus,
textarea:focus-within,
textarea:active {
  outline: none;
}

/*@end textarea*/
/*@start form footer*/
.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-footer .flex-column-mobile {
  display: flex;
  flex-direction: column;
}

.form-footer .flex-column-mobile a:first-child {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .form-footer .flex-column-mobile {
    flex-direction: row;
  }

  .form-footer .flex-column-mobile a:first-child {
    margin-bottom: 0;
  }
}
/*@end form footer*/
#text-output {
  display: block;
  margin: 1rem 0;
  word-break: break-all;
}

#nav {
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 999;
}

.nav-list > li {
  display: inline-block;
  margin-right: 0.5rem;
}

.nav-list > li:last-child {
  margin-right: 0;
}

pre.ascii {
  width: 100%;
  overflow-x: hidden;
  color: #ee98d1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*@start column*/
@media only screen and (min-width: 768px) {
  .column {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    float: left;
  }

  .column::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .column.phi.a {
    width: 38%;
  }

  .column.phi.b {
    width: 62%;
  }

  .column.two {
    width: 50%;
  }

  .column.three {
    width: 33.33%;
  }

  .column.three.a {
    width: 33.33%;
  }

  .column.three.b {
    width: 66.66%;
  }

  .column.four {
    width: 25%;
  }

  .column.four.a {
    width: 25%;
  }

  .column.four.b {
    width: 50%;
  }

  .column.four.c {
    width: 75%;
  }
}
/*@end column*/
.content {
  padding: 20px;
}

/* @start grid */
.grid {
  max-width: 1000px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.grid::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* @end grid */
@media only screen and (min-width: 768px) {
  .reverse-tablet {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 768px) {
  section {
    padding: 5vh 0;
  }
}

/*# sourceMappingURL=index.css.map */
