/*@start column*/
@media only screen and ( min-width: 1440px ) {
    .column {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
        float: left;
    }

    .column::after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

    .column.phi.a {
        width: 38%;
    }

    .column.phi.b {
        width: 62%;
    }

    .column.two {
        width: 50%;
    }

    .column.three {
        width: 33.33%;
    }

    .column.three.a {
        width: 33.33%;
    }

    .column.three.b {
        width: 66.66%;
    }

    .column.four {
        width: 25%;
    }

    .column.four.a {
        width: 25%;
    }

    .column.four.b {
        width: 50%;
    }

    .column.four.c {
        width: 75%;
    }
}
/*@end column*/
