@media only screen and (min-width: 768px ){
    .reverse-tablet {
        display: flex;
        flex-direction: row-reverse;
    }
}

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.flex-between {
    justify-content: space-between;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}
