.btn {
    background-color: transparent;
    border: 2px solid transparent;
    padding: .25rem 1.25rem;
    box-sizing: border-box;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn.btn-secondary {
    border: 2px solid var(--secondary-color);
}

.btn.btn-compact {
    padding: .25rem .25rem;
}
