.btn {
    background-color: transparent;
    border: 2px solid transparent;
    padding: .25rem .75rem;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (min-width: 768px ){
    .btn {
        padding: .25rem 1.25rem;
    }
}

.btn:hover {
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.btn.btn-primary {
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within, {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn.btn-secondary {
    color: var(--secondary-text-color);
    //border-color: var(--primary-color);
}

.dark-theme .btn.btn-secondary {
    color: var(--primary-text-color);
    //border-color: var(--primary-color);
}

.btn.btn-secondary:focus,
.btn.btn-secondary:focus-within,
.btn.btn-secondary:active,
.btn.btn-secondary:hover {
    background-color: var(--primary-color);
}

.dark-theme {
    .btn.btn-secondary:focus,
    .btn.btn-secondary:focus-within,
    .btn.btn-secondary:active,
    .btn.btn-secondary:hover {
        background-color: var(--tertiary-color);
    }
}

.btn.btn-compact {
    padding: .25rem .5rem;
}

.btn.btn-icon {
    padding: 2px .75rem 0 0;
}

.btn-icon img {
    height: 30px;
    vertical-align: middle;
}

.utility-btns {
    height: auto;
    padding: 1rem 0;
    background-color: var(--tertiary-color);
    left: 0;
    right: 0;
}

#submit-btn {
    font-size: 22px;
}



