.btn {
    background-color: transparent;
    border: 2px solid transparent;
    padding: .25rem 1.25rem;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.btn.btn-primary {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within, {
    border-color: var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn.btn-secondary {
    color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn.btn-secondary:focus,
.btn.btn-secondary:focus-within,
.btn.btn-secondary:active,
.btn.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.btn.btn-compact {
    padding: .25rem .25rem;
}

.btn-icon img {
    height: 1rem;
    vertical-align: middle;
    transform: translateY(-1px);
}
