.nav-list > li {
    display: inline-block;
    margin-right: .5rem;
}

.nav-list > li:last-child {
    margin-right: 0;
}

.btn.nav-btn {
    color: var(--tertiary-text-color);
    background-color: transparent;
    transition: all 150ms;
    box-sizing: border-box;
    vertical-align: middle;
}

.dark-theme {
    .btn.nav-btn {
        color: var(--primary-text-color);
    }
}

.btn.nav-btn:hover,
.btn.nav-btn:active,
.btn.nav-btn:focus,
.btn.nav-btn:focus-within {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.dark-theme {
    .btn.nav-btn:hover,
    .btn.nav-btn:active,
    .btn.nav-btn:focus,
    .btn.nav-btn:focus-within {
        background-color: var(--tertiary-color);
    }
}

.btn.nav-btn.selected {
    background-color: var(--tertiary-color);
    color: var(--secondary-text-color);
}

.btn.nav-btn.selected:hover,
.btn.nav-btn.selected:active,
.btn.nav-btn.selected:focus,
.btn.nav-btn.selected:focus-within {
    color: var(--tertiary-text-color);
    background-color: var(--tertiary-color);
}

.dark-theme {
    .btn.nav-btn.selected:hover,
    .btn.nav-btn.selected:active,
    .btn.nav-btn.selected:focus,
    .btn.nav-btn.selected:focus-within {
        background-color: var(--primary-color);
    }
}
