#nav {
    padding: 5px 20px 0;
}


@media only screen and (min-width: 768px){
    #nav {
        padding: 20px;
    }
}

.nav-list > li {
    display: inline-block;
    margin-right: .5rem;
}

.nav-list > li:last-child {
    margin-right: 0;
}

.btn.nav-btn {
    color: #f4f4f4;
    background-color: transparent;
    transition: all 150ms;
}

.btn.nav-btn:hover,
.btn.nav-btn:active,
.btn.nav-btn:focus,
.btn.nav-btn:focus-within {
    color: #ce68c1;
    background-color: #f4f4f4;
}

.btn.nav-btn.selected {
    background-color: rgba(204, 255, 204, .6);
    color: #222;
}

.btn.nav-btn.selected:hover,
.btn.nav-btn.selected:active,
.btn.nav-btn.selected:focus,
.btn.nav-btn.selected:focus-within {
    color: #f4f4f4;
    background-color: #ce68c1;
}
