#nav {
    padding: 5px 20px 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}


@media only screen and (min-width: 768px){
    #nav {
        padding: 20px;
    }
}

.nav-list > li {
    display: inline-block;
    margin-right: .5rem;
}

.nav-list > li:last-child {
    margin-right: 0;
}

.btn.nav-btn {
    color: var(--tertiary-text-color);
    background-color: transparent;
    transition: all 150ms;
}

.btn.nav-btn:hover,
.btn.nav-btn:active,
.btn.nav-btn:focus,
.btn.nav-btn:focus-within {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

.btn.nav-btn.selected {
    background-color: rgba(204, 255, 204, .6);
    color: var(--secondary-text-color);
}

.btn.nav-btn.selected:hover,
.btn.nav-btn.selected:active,
.btn.nav-btn.selected:focus,
.btn.nav-btn.selected:focus-within {
    color: var(--tertiary-text-color);
    background-color: var(--tertiary-color);
}
